body {
    padding: 0;
    margin: 0;
    text-align: center;
     
}

ul {
    background-color: rgb(242, 223, 206);
}

img{
    width: 600px;
    height: auto;
}

a{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(171, 126, 114);
}

#title > a {
    all: unset;
    color:rgb(171, 126, 114);
    font-size: 30px;
    padding-top: 10px;
    text-decoration: none;   
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1px;
    cursor: pointer;
    
}
  

#search-box{
    width: 100%;
    height: 15vh;
    text-align: center;
    margin-bottom: 50px;
    background: white;
    /*  rgb(242, 223, 206) */
}

#search{
    all: unset;
    width: 400px;
    height: 50px;
    margin-top: 50px;
    padding-left: 20px;
    text-align: left;
    border: 2px solid rgb(171, 126, 114);
    background-color: aliceblue;
    color: #000000;
}
#submit{
    all: unset;
    background-color: rgb(242, 223, 206);
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 12px;
}
#btn{
    all: unset;
    background-color: rgb(171, 126, 114);
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 12px;
}
#submit:hover{
    background-color: tomato;
}

#btn:hover{
    background-color: tomato;
}


#container {
    width: 80%;
    columns: 1;
    margin: 50px auto;
    
}
.item {
    width: 100%;
    /* height: 300px; */ 
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    display: inline-block; /* 컬럼 짤림 방지*/
    text-align : left;
    /*border-bottom-style : solid;
    border-bottom-width : 1px;*/
}


/* 갤럭시 아이폰 반응형 웹 */
@media screen and (max-width: 430px) {
    #search-box {
        margin: 0px;
        margin-top: 50px;
    }
    #search {
        width: 40%;
    }
    #submit {
        width: 15%;
    }
    #container {
        width: 70%;
        columns: 1;
    }
    
}


